<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

  <bean id="client" class="Beans.Client">
    <constructor-arg type="java.lang.Integer" value="1"/>
    <constructor-arg type="java.lang.String" value="John Smith"/>
  </bean>

  <bean name="eventLogger, logger" class="logger.ConsoleEventLogger"/>
  <bean name="fileEventLogger" class="logger.FileEventLogger" init-method="init">
    <constructor-arg index="0" ref="event"/>
    <constructor-arg index="1" value="filename"/>
  </bean>

  <bean name="application" id="app" class="App">
    <constructor-arg ref="client"/>
    <constructor-arg ref="eventLogger"/>
  </bean>

  <bean name="event" class="Beans.Event" scope="prototype">
    <constructor-arg value="Test message"/>
    <constructor-arg>
      <bean class="java.util.Date"/>
    </constructor-arg>
  </bean>
  <bean id="dateFormat" class="java.text.DateFormat" abstract="true" factory-method="getDateTimeInstance"/>

  <bean name="cacheFileLogger" class="logger.CacheFileLogger">>
    <constructor-arg index="0" ref="event"/>
    <constructor-arg index="1" value="spring-test.txt"/>
    <constructor-arg index="2" value="5"/>
  </bean>
</beans>